@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

   <!-- <img src="~/images/banner.jpg" style="max-width:100%; position:absolute;"/>-->
    <h1>Lorem ipsum</h1>
    <p class="lead">eaque rerum! Provident similique accusantium nemo autem. Veritatis</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>molestiae</h2>
        <p>
            etur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
            tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
            quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
            sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Maxime mollitia</h2>
        <p>
            Voluptatem quaerat non architecto ab laudantium
            modi minima sunt esse temporibus sint culpa,
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>voluptas</h2>
        <p>
            Possimus quis earum veniam
            quasi aliquam eligendi, placeat qui corporis!
        </p>
       
    </div>
</div>